<section class="m-12">
    <article class="relative overflow-x-auto">
        <div class="pb-4 bg-white dark:bg-gray-900">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative m-1 d-flex">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="table-search"
                    class="block py-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Buscar" (change)="search($event)">
            </div>
        </div>
        <div class="rounded-lg overflow-x-auto  shadow-md">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="pl-6 py-3">
                            Nombre usuario
                        </th>
                        <th scope="col" class="pl-6 py-3">
                            Nombre
                        </th>
                        <th scope="col" class="pl-6 py-3">
                            Apellido 1
                        </th>
                        <th scope="col" class="pl-6 py-3">
                            Apellido 2
                        </th>
                        <th scope="col" class="pl-6 py-3">
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                        @for (user of (users$ | async); track user.id) {
                            <th scope="row" class="pl-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ user.name }} {{ user.surname1 }} {{ user.surname2 }} 
                            </th> 
                            <td class="pl-6 py-4">
                                {{ user.name }}
                            </td>
                            <td class="pl-6 py-4">
                                {{ user.surname1 }} 
                            </td>
                            <td class="pl-6 py-4">
                                ${{ user.surname2 }} 
                            </td>
                            <td class="pl-6 py-4">
                                ${{ user.email }} 
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>